---
layout: default
---

<article id="main">
    <header class="special container">
        <span class="icon fa-book"></span>
        <h2>My <strong>Blog</strong></h2>
    </header>
    <section class="wrapper style4 container">
        <ul class="posts">
          {% for post in site.posts %}
            <li class="wrapper {% if forloop.first %} style2 {% else %} style1 {% endif %}">
              <h2><a href="{{ post.url }}"><strong>{{ post.title }}</strong></a></h2>

            </li>
          {% endfor %}
        </ul>
    </section>
</article>
