<!-- Banner -->		
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <header>
            <h2>Onemomo的小窝</h2>
        </header>
        <p>HI，我是王振宇，一只IOS开发初心者。
        <br />
        这里是我的个人博客，记载着日常学习和生活上的点滴。
        <br />
        MOMO
        <br />
        <footer>
            <ul class="buttons vertical">
                <li><a href="/blog.html" class="button fit scrolly">READ NOW</a></li>
            </ul>
        </footer>

    </div>

</section>
